{
  "extends": [
    "tough/config/common",
    "tough/config/node",
    "tough/config/esnext"
  ],
  "rules": {
    "no-magic-numbers": 0,
    "node/shebang": 0,
    "import/default": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0
  }
}
